
<div class="content-title">权限管理</div>
<div class="container">
    <!-- 表单 -->
    <form class="form-horizontal j-authRoleEditForm">
        <div class="form-group">
            <label class="col-sm-2 control-label">角色名</label>
            <div class="col-sm-8">
                <input type="text" name="name" class="form-control" value="{{vm.roleDetail.name}}" disabled />
            </div>
        </div>
        <div class="form-group">
            <label for="inputLockout" class="col-sm-2 control-label">接口权限</label>
            <div class="col-sm-8">
                <div>
                    <label><input type="checkbox">全选</label>
                </div>
                <li class="checkboxList form-control" ng-repeat="item in vm.interfaceList">
                    <label class="mr10"><input name="interfaceList" type="checkbox" ng-model="vm.checkedInterfaces[item.route]" value="{{item.route}}">{{item.route}}</label>
                </li>
                <div class="none">{{vm.checkedInterfaces}}</div>
                <div class="btn btn-default mt10" ng-click="vm.setInterface()">设置接口权限</div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">菜单权限</label>
            <div class="col-sm-8">
                <li ng-repeat="item in vm.roleDetail.menuList">
                    <input name="{{item}}" type="checkbox" class="form-control" value="{{item}}">
                    <span class="mr10">{{item}}</span>
                </li>
                <div class="btn btn-default" ng-click="vm.setMenu()">设置菜单权限</div>
            </div>
        </div>
    </form>
    <!-- /表单 -->
</div>