
@import "../custom/mixin";

// 登录页面
.signin {
	width: 100%; 
	padding-top: 100px;
	@include position-centerV(400px);
	// background: rgba(0,0,0,.82);
	background: lighten($main-orange, 10%);
	color: #fff;
	box-shadow: 10px 4px 10px 0px #333;
	.title {
		font-size: 28px;
		text-align: center;
		padding-top: 40px;
		text-shadow: #ccc;
	}
	form {
		border-left: 1px solid #fff;
	}
}