
<div class="container main">
	<div class="top-nav col-xs-12">
		<div class="f16 pull-left">采购宝后台管理系统</div>
		<div class="pull-right account" ng-click="vm.account()">
			<i class="glyphicon glyphicon-user mr5"></i>{{vm.userName}}
			<span class="caret ml5"></span>
		</div>
		<div class="pointer signout" ng-if="vm.isExit" ng-click="vm.signout()">退出</div>
	</div>
    <div class="side col-sm-2">
   		<ul class="side-menu">
   			<li ng-repeat="item in vm.menuList">
   				<a href="javascript:;" ng-class="{true: 'active', false: ''}[item.isOpen]" ng-click="vm.menu($index)">{{item.menuTitle}}
   					<span class="pull-right glyphicon arrow glyphicon-menu-right" ng-class="{true: 'glyphicon-menu-down', false: ''}[item.isOpen]"></span>
   				</a>
   				<ul class="side-childMenu" ng-if="{true: true, false: false}[item.isOpen]">
   					<li ng-repeat="item in item.childMenuList">
   						<a ui-sref="{{item.state}}" ng-click="vm.childMenu($index, item.menuIndex)" ng-class="{true: 'active', false: ''}[item.isActive]">{{item.childMenuTitle}}</a>
   					</li>
   				</ul>
   			</li>
   		</ul>
    </div>
    <div class="content col-sm-10"> 	
   		<div ui-view></div>
    </div>   
</div>

