
<div class="container main">
	<div class="top-nav col-xs-12">
		<div class="title pull-left">采购宝后台管理系统</div>
		<div class="pull-right"><i class="glyphicon glyphicon-user mr5"></i>账号<span class="caret ml5"></span></div>
	</div>
    <div class="side col-sm-2">
    	<div class="side-menu">
	   		<ul>
	   			<li>
	   				<a href="javascript:;" class="active">会员管理
	   					<span class="pull-right glyphicon arrow glyphicon-menu-down" ng-class="{true:'glyphicon-menu-down', false:'glyphicon-menu-right'}[isOpen]"></span>
	   				</a>
	   				<ul class="side-childMenu">
	   					<li><a ui-sref="admin.vip-list">列表</a></li>
	   				</ul>
	   			</li>
	   			<li>
	   				<a href="javascript:;">订单管理</a>
	   				<ul class="side-childMenu">
	   					<li><a ui-sref="admin.vip-review">列表</a></li>
	   				</ul>
	   			</li>
	   			<li>
	   				<a href="javascript:;">权限管理</a>
	   				<ul class="side-childMenu">
	   					<li><a ui-sref="admin.vip-list">列表</a></li>
	   				</ul>
	   			</li>
	   		</ul>
   		</div>
    </div>
    <div class="content col-sm-10">
    	<div class="container">
    		<div class="crumbs col-xs-12">
			<ul>
				<li>会员管理> 列表</li>
			</ul>
    	</div>   	
   		<div class="col-xs-12" ui-view></div>
    </div>   
</div>

